<tr>
	<td><%= prod_type_counter + calculate_page(params[:page]) %></td>
	<td><%= prod_type.name %></td>
	<td> <%= link_to t('.edit', default: 'Edit'), edit_prod_type_path(prod_type), class: 'btn btn-success btn-xs' %> </td>
</tr>