.no-padding {
  padding: 0 !important;
}

.left-padding {
  padding-left: 15px !important;
}

.red {
  color: red;
}

.col-right {
  text-align: right;
}

.control-label-left {
  text-align: left;
  margin-bottom: 0;
  padding-top: 7px;
}

.member-top {
  margin-top: 10px;
}

.member-action {
  margin-top: 20px;
  margin-bottom: 10px;
  
}

.product-top {
  margin-top: 10px;
}
