<div class="well sidebar-nav">
	<ul class="nav nav-list">
		<% if current_user %>
		<li>
			<%= link_to "會員管理", members_path  %>
		</li>
		<li>
			<%= link_to "Link2", "/path2"  %>
		</li>
		<li>
			<%= link_to "Link3", "/path3"  %>
		</li>
		<% else %>
		<li class="nav-header">
			請先登入
		</li>
		<% end %>
	</ul>
</div><!--/.well -->