<div class="well sidebar-nav">
	<ul class="nav nav-list">
		<% if current_user %>
		<li>
			<%= link_to t('.members', default: 'Members'), members_path  %>
		</li>
		<li>
			<%= link_to t('.prodtypes', default: 'Product Types'), prod_types_path  %>
		</li>
		<li>
			<%= link_to t('.products', default: 'Products'), products_path  %>
		</li>
		<% else %>
		<li class="nav-header">
			請先登入
		</li>
		<% end %>
	</ul>
</div><!--/.well -->